<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h5 lh-base">
          &nbsp;&nbsp;Выберете необходимый уровень сложности заданий, которые могут появиться в тесте и нажмите на кнопку <b style="color:#C62828;"><u>Составить вариант</u></b>.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr size="7" color="blue">
<input checked class="form-check-input" type="checkbox" id="include_basic" name="include_basic" value="Базовый">
<label class="form-check-label" for="include_basic">Включить задания базовой сложности</label>
<br>
<input class="form-check-input" type="checkbox" id="include_middle" name="include_middle" value="Средний">
<label class="form-check-label" for="include_middle">Включить задания повышенной сложности</label>
<br>
<input class="form-check-input" type="checkbox" id="include_hard" name="include_hard" value="Сложный">
<label class="form-check-label" for="include_hard">Включить задания высокой сложности</label>
<p></p>
<button class="btn btn-primary" data-bs-toggle="modal" name="start_test" type="submit">Составить вариант</button>