<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h5 lh-base">
          &nbsp;&nbsp;Данный способ генерации теста создан для проведения контрольного ЕГЭ по информатике. В результате тест будет состоять из двадцати семи заданий,
            задания будут любой сложности и время для выполнения: <b style="color:#C62828;">3 часа 55 минут</b>.
        </p>
        <p class="h5 lh-base">
            &nbsp;&nbsp;Просто нажмите на кнопку <b style="color:#C62828;"><u>Составить вариант</u></b>.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr size="7" color="blue">
<button class="btn btn-primary" data-bs-toggle="modal" name="start_test" type="submit">Составить вариант</button>