<table class="table align-middle">
    <thead>
      <tr class="">
        <th scope="col">Количество заданий</th>
        <th scope="col">Тип задания</th>
        <th scope="col">Сложность</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for problem in topics_problems_types %}
      <tr>
        <td style="width:200px;">
          <div class="input-group mx-auto" style="width: 120px;">
            <button disabled class="btn btn-outline-dark" type="button" id="down_{{ problem }}" name="down" onclick="changeValue('q_{{ problem }}', 'down_{{ problem }}')">-</button>
            <input readonly class="form-control" type="text" value="0" style="text-align:center;" id="q_{{ problem }}" name="q_{{ problem }}">
            <button class="btn btn-outline-dark" type="button" id="up_{{ problem }}" name="up" onclick="changeValue('q_{{ problem }}', 'up_{{ problem }}')">+</button>
          </div>
        </td>
        <td>{{ topics_problems_types.get(problem) }}</td>
        <td>
          <input checked class="form-check-input" type="checkbox" id="q_check_base_{{ problem }}" name="q_check_base_{{ problem }}" value="Базовый">
          <label class="form-check-label" for="q_check_base_{{ problem }}">Базовый</label>
          <br>
          <input class="form-check-input" type="checkbox" id="q_check_middle_{{ problem }}" name="q_check_middle_{{ problem }}" value="Средний">
          <label class="form-check-label" for="q_check_middle_{{ problem }}">Средний</label>
          <br>
          <input class="form-check-input" type="checkbox" id="q_check_hard_{{ problem }}" name="q_check_hard_{{ problem }}" value="Сложный">
          <label class="form-check-label" for="q_check_hard_{{ problem }}">Сложный</label>
        </td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<button class="btn btn-primary" data-bs-toggle="modal" name="start_test" type="submit">Составить вариант</button>