 <p class="h4 mb-4" style="color:#C62828;"><b><u>Пожалуйста, внимательно прочитайте инструкцию!</u></b></p>
<hr size="10" color="blue">
<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-lg"><b><i>&nbsp;&nbsp;Генератор вариантов теста</i></b></p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;Вы находитесь на странице генератора тестов по предмету <b>информатика</b> в виде ЕГЭ. Слева от инструкции находится
          <b><u>навигационное меню</u></b> для выбора варианта создания теста. У вас есть четыре варианта: После выбора вопроса вам будут доступны <b><u>текст
          вопроса и область для ввода ответа, а также необходимые файлы</u></b>.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b><u>Вариант 1</u></b>: здесь вы можете выбирать произвольное (<b>до десяти</b> штук одного типа задания) количество вопросов в пределе в <b><u>30 штук</u></b> в тесте.
          Для того чтобы набрать необходимое количество, достаточно нажать на кнопку <b style="color:#C62828;">"+"</b> в соответствующей графе типа вопроса.
          Кроме того, вы можете выбрать уровень сложности вопросов: <u>базовый</u>, <u>средний</u> или <u>сложный</u>, которые будут участвовать при генерации теста.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b><u>Вариант 2</u></b>: здесь вы можете сгенерировать тест базового уровня с количеством вопросов от <b>одного</b> до <b>одиннадцати</b>. Все вопросы будут разного типа.
          Одиннадцать вопросов - это базовый уровень знаний ЕГЭ.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b><u>Вариант 3</u></b>: составить полный вариант теста с участием заданий разной сложности. Уровень сложности вы можете выбирать, ставя галочки напротив соответствующей
          сложности.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b><u>Вариант 4</u></b>: составить контрольную работу из двадцати семи заданий случайной сложности (базовой до сложной).
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;В завершении выбора варианта генерации теста и необходимых параметров, вам нужно нажать на кнопку
          <a class="btn btn-primary">Составить вариант</a>. После вы попадёте на страницу с готовым тестом.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;При прохождении тестов у вас будет формироваться собственная статистика по решению каждого типа задания. Это общее количество решенных заданий,
          количество правильно решённых заданий и процент правильно выполненных заданий для каждого типа. Свою статистику вы сможете посмотреть в личном кабинете.
          Для этого справа вверху, где написаны ваши имя и фамилия нажать и выбрать в меню <b><u>Личный кабинет</u></b>
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;Желаем вам успехов в развитии знаний, умений и навыков в решении ЕГЭ по информатике и спасибо за участие!
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr size="7" color="blue">