 <p class="h4 mb-4" style="color:#C62828;"><b><u>Пожалуйста, внимательно прочитайте инструкцию!</u></b></p>
<hr size="10" color="blue">
<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h4 lh-lg"><b><i>&nbsp;&nbsp;Как успешно сдать контрольную?</i></b></p>
        <p class="h5 lh-base">
          &nbsp;Вы находитесь на странице контрольной работы по предмету <b>информатика</b> в виде ЕГЭ. Слева от инструкции находится
          <b><u>навигационное меню</u></b> для выбора вопроса. После выбора вопроса вам будут доступны <b><u>текст
          вопроса и область для ввода ответа, а также необходимые файлы</u></b>.
        </p>
        <p class="h5 lh-base">
          &nbsp;Во время контрольной нужно поочерёдно выбрать все вопросы в левом меню и ответить на них, нажав на кнопку
          <a class="btn btn-outline-primary">Сохранить ответ</a>. В завершении, когда вы
          убедитесь в том, что вы ответили на все вопросы, необходимо нажать на кнопку
          <a class="btn btn-secondary"><img src="/static/icons/test_end.svg" height="30" width="22"></a> в левом меню.
          Во время контрольной можно возвращаться к решённым заданиям. Сохранять ответ можно множество раз. Список
          заданий в левом меню можно листать с помощью колесика мыши.
        </p>
        <p class="h5 lh-base">
          &nbsp;Для того чтобы начать, нажмите на кнопку <b><u>Начать контрольную</u></b> снизу. После начала
          система разблокирует доступ к вопросам и одновременно запустит таймер обратного отсчёта. Он отобразится
          справа сверху. Вам необходимо уложиться в отведённое время. После того как время истечёт, если вы сами не
          закончите, то через 10 секунд система автоматически завершит контрольную.
        </p>
        <p class="h5 lh-base">
          &nbsp;Желаем вам успехов и спасибо за участие!
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr size="7" color="blue">