 <p class="h4 mb-4" style="color:#C62828;"><b><u>В экзаменационных заданиях используются следующие соглашения:</u></b></p>
<hr size="10" color="blue">
<table class="table table-light">
  <tbody>
    <tr>
      <td class="h4">
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b>1. Обозначения для логических связок (операций):</b>
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;a) <i>отрицание</i> (инверсия, логическое НЕ) обозначается <b style="color:#C62828;">¬</b>
            (например <b style="color:#C62828;">¬A</b>);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;b) <i>конъюнкция</i> (логическое умножение, логическое И) обозначается <b style="color:#C62828;">Λ</b>
            (например <b style="color:#C62828;">A Λ B</b>), либо <b style="color:#C62828;">&</b>
            (например <b style="color:#C62828;">A & B</b>);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;c) <i>дизъюнкция</i> (логическое сложение, логическое ИЛИ) обозначается <b style="color:#C62828;">V</b>
            (например <b style="color:#C62828;">A V B</b>), либо <b style="color:#C62828;">|</b>
            (например <b style="color:#C62828;">A | B</b>);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;d) <i>следование</i> (импликация) обозначается <b style="color:#C62828;">→</b>
            (например <b style="color:#C62828;">A → B</b>);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;e) <i>тождество</i> обозначается <b style="color:#C62828;">≡</b>
            (например <b style="color:#C62828;">A ≡ B</b>). Выражение <i style="color:#C62828;">A ≡ B</i>
            истинно тогда и только тогда, когда значения <i>A</i> и <i>B</i> совпадают (либо они оба
            истинны, либо они оба ложны);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;f) символ <b style="color:#C62828;">1</b> используется для обозначения истины (истинного высказывания);
            символ <b style="color:#C62828;">0</b> – для обозначения лжи (ложного высказывания).
        </p>
        <p></p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b>2.</b> Два логических выражения, содержащих переменные, называются <i style="color:#C62828;">равносильными</i>
          (эквивалентными), если значения этих выражений совпадают при любых значениях переменных. Так, выражения <i style="color:#C62828;">A → B</i>
          и <i style="color:#C62828;">(¬A) V B</i> равносильны, а <i style="color:#C62828;">A V B</i> и <i style="color:#C62828;">A Λ B</i> неравносильны.
          (значения выражений разные, например, при A = 1, B = 0).
        </p>
        <p></p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b>3. Приоритеты логических операций:</b>
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Первая: <i>инверсия</i> (отрицание);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Вторая: <i>конъюнкция</i> (логическое умножение);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Третья: <i>дизъюнкция</i> (логическое сложение);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Четвёртая: <i>импликация</i> (следование);
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Пятая: <i>тождество</i>.
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Таким образом, <i style="color:#C62828;">¬A Λ B V C Λ D</i> означакт то же, что
          и <i style="color:#C62828;">((¬A) Λ B) V (C Λ D)</i>
        </p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;&nbsp;&nbsp;Возможна запись <i style="color:#C62828;">A Λ B Λ C</i> вместо <i style="color:#C62828;">(A Λ B) Λ C</i>.
          То же относится и к дизъюнкции: возможна запись <i style="color:#C62828;">A V B V C</i>
          вместо <i style="color:#C62828;">(A V B) V C</i>.
        </p>
        <p></p>
        <p class="h5 lh-base">
          &nbsp;&nbsp;<b>4.</b> Обозначения <i style="color:#C62828;">Мбайт</i> и <i style="color:#C62828;">Кбайт</i>
          используются в традиционном для информатики смысле – как обозначения единиц измерения, чьё соотношение
          с единицей <i>«байт»</i> выражается степенью двойки.
        </p>
        <p class="h5 lh-base">
          &nbsp;Желаем вам успехов и спасибо за участие!
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr size="7" color="blue">