<div class="container-fluid">
    <!-- Main content -->
  <main class="ms-sm-auto col-lg-10 px-md-4">
    <form method="post" enctype=multipart/form-data>
      <div class="w-100">
        <label class="mb-3 h4">Выберите номер типа вопроса:</label>
        <select class="form-select mb-5 mt-3" id="q_number" name="q_number">
            <option selected value="1">1</option>
            {% for i in range(2, 28) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <label class="mb-3 h4">Выберете сложность для вопроса:</label>
        <select class="mb-5 form-select" id="q_difficulty" name="q_difficulty" aria-label="Default select example">
          <option selected value="Базовый">Базовый</option>
          <option value="Средний">Средний</option>
          <option value="Сложный">Сложный</option>
        </select>

        <label class="mb-5 h4">Введите содержимое вопроса (задание):</label>
        <textarea class="ckeditor" id="q_text" name="q_text"></textarea>
        <div class="mb-5"></div>
        <label class="mb-3 h4">Добавьте файлы, если нужно:</label>
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_one"
                name="file_one"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_two"
                name="file_two"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_three"
                name="file_three"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_four"
                name="file_four"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <label class="mb-3 h4">Добавьте правильный ответ:</label>
            <div class="container-fluid" id="q_right_answer_container">
              <div class="input-group mb-3">
                  <input
                          type="text"
                          class="form-control"
                          name="q_right_answer"
                          id="q_right_answer"
                          value=""
                  >
              </div>
            </div>

            <hr size="10" color="blue">

          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-secondary py-2 mb-2" data-bs-toggle="modal" value="{{ question_number }}"  name="button" data-bs-target="#status_loading" type="submit">Сохранить вопрос</button>
          </div>
      </div>
    </form>
    <br>
    <br>
    <br>
  </main>
</div>