<div class="container-fluid">
    <!-- Main content -->
  <main class="ms-sm-auto col-lg-10 px-md-4">
    <form method="post" enctype=multipart/form-data>
      <div class="w-100">
        <label class="mb-3 h4">Выберите номер типа вопроса:</label>
        <select class="form-select mb-5 mt-3" id="q_number" name="q_number">
            <option selected value="1">1</option>
            {% for i in range(2, 28) %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>

        <label class="mb-3 h4">Выберете сложность для вопроса:</label>
        <select class="mb-5 form-select" id="q_difficulty" name="q_difficulty" aria-label="Default select example">
          <option selected value="Базовый">Базовый</option>
          <option value="Средний">Средний</option>
          <option value="Сложный">Сложный</option>
        </select>

        <label class="mb-5 h4">Введите содержимое вопроса (задание):</label>
        <textarea class="ckeditor" id="q_text" name="q_text"></textarea>
        <div class="mb-5"></div>
        <label class="mb-3 h4">Добавьте файлы, если нужно:</label>
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_one"
                name="file_one"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_two"
                name="file_two"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_three"
                name="file_three"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <input
                type="file"
                class="form-control mb-5 ms-4 mt-3 w-90"
                id="file_four"
                name="file_four"
                aria-describedby="inputGroupFileAddon04"
                aria-label="Upload"
        >
        <label class="mb-3 h4">Добавьте правильный ответ:</label>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                У вопроса один ответ
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="container-fluid" id="q_right_answer_container">
                  <div class="input-group mb-3">
                      <input
                              type="text"
                              class="form-control"
                              name="q_right_answer"
                              id="q_right_answer"
                              value=""
                      >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                У вопроса много ответов
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                  <div class="input-group w-50">
                    <span class="input-group-text" style="width:230px;">Первая пара ответов</span>
                    <input type="text" aria-label="1" class="form-control" name="q_right_answer_1" id="q_right_answer_1">
                    <input type="text" aria-label="2" class="form-control" name="q_right_answer_2" id="q_right_answer_2">
                  </div>
                  <div class="input-group w-50">
                    <span class="input-group-text" style="width:230px;">Вторая пара ответов</span>
                    <input type="text" aria-label="3" class="form-control" name="q_right_answer_3" id="q_right_answer_3">
                    <input type="text" aria-label="4" class="form-control" name="q_right_answer_4" id="q_right_answer_4">
                  </div>
                  <div class="input-group w-50">
                    <span class="input-group-text" style="width:230px;">Третья пара ответов</span>
                    <input type="text" aria-label="5" class="form-control" name="q_right_answer_5" id="q_right_answer_5">
                    <input type="text" aria-label="6" class="form-control" name="q_right_answer_6" id="q_right_answer_6">
                  </div>
                  <div class="input-group w-50">
                    <span class="input-group-text" style="width:230px;">Четвёртая пара ответов</span>
                    <input type="text" aria-label="7" class="form-control" name="q_right_answer_7" id="q_right_answer_7">
                    <input type="text" aria-label="8" class="form-control" name="q_right_answer_8" id="q_right_answer_8">
                  </div>
                  <div class="input-group w-50">
                    <span class="input-group-text" style="width:230px;">Пятая пара ответов</span>
                    <input type="text" aria-label="9" class="form-control" name="q_right_answer_9" id="q_right_answer_9">
                    <input type="text" aria-label="10" class="form-control" name="q_right_answer_10" id="q_right_answer_10">
                  </div>
              </div>
            </div>
          </div>
        </div>

            <hr size="10" color="blue">

          <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-secondary py-2 mb-2" data-bs-toggle="modal" value="{{ question_number }}"  name="button" data-bs-target="#status_loading" type="submit">Сохранить вопрос</button>
          </div>
      </div>
    </form>
    <br>
    <br>
    <br>
  </main>
</div>