<nav class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark mb-3 sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="subjects">
        <h1 class="h1 mb-6 fw-normal" style="color: White" align="middle">Конструктор вопросов</h1>
      </div>
      <div class="collapse navbar-collapse justify-content-end">
        <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="user_menu_link" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
          {{firstname}} {{lastname}}
        </a>
      </div>
    </div>
</nav>