<nav class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark mb-3 sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="subjects">
        <h1 class="h1 mb-6 fw-normal" style="color: White" align="middle">{{ nav_topic }}</h1>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>Действия
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>Меню
      </button>
      <div class="collapse navbar-collapse justify-content-end dropstart" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown p-4">
            <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
              {{ name }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{{ url_for('get_admin_cabinet') }}" type="button">Администрирование</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_teacher_cabinet') }}" type="button">Кабинет учителя</a></li>
              <li><a class="dropdown-item" href="{{ url_for('get_page_prepare_test') }}" type="button">Выполнение тестов</a></li>
              <li><a class="dropdown-item" href="{{ url_for('logout') }}" type="button">Выход</a></li>
            </ul>
          </li>
        </ul>
      </div>
      {% if test_time %}
        <ul class="navbar-nav">
          <li>
            <a class="btn btn-outline-primary" onload="countdownTimer({{ test_time }})" id="clock"><b id="countdown">0{{ test_time // (60 * 60) }} : {{ (test_time // 60) % 60 }} : 0{{ test_time % 60 }}</b></a>
          </li>
        </ul>
      {% endif %}
    </div>
</nav>